# 1. Ignorar todos los archivos por defecto
*


# 2. No ignorar los directorios (necesario para que Git pueda entrar a buscar las excepciones)
!*/

# 3. Excepciones: los únicos archivos que SÍ se van a commitear
!controllers/fool_controller/MyRobot.cpp
!controllers/fool_controller/MyRobot.h
!.gitignore